<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789388818323-h19p5idlfc4f7i51quak9h54etero3s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789388818323-h19p5idlfc4f7i51quak9h54etero3s0</string>
	<key>API_KEY</key>
	<string>AIzaSyBM7z1RjTMReQZS8iaty7TWu7a8b2POs68</string>
	<key>GCM_SENDER_ID</key>
	<string>789388818323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sion.QuizFlash</string>
	<key>PROJECT_ID</key>
	<string>cgram-1f28a</string>
	<key>STORAGE_BUCKET</key>
	<string>cgram-1f28a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789388818323:ios:187ff951f2e05e2ef3da66</string>
</dict>
</plist>